[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-cierzo
Exec=sailfish-qml harbour-cierzo
Name=Cierzo
Comment=Surface observation and forecast

[X-Sailjail]
Permissions=Internet;Location
OrganizationName=harbour-cierzo
ApplicationName=harbour-cierzo
